.sidenav-container {
  height: 100%;
  
  

}

.sidenav {
  width: 200px;
  
  
}

.sidenav .mat-toolbar {
  background: inherit;
  
  
  
  
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  color: azure;
  
  
  
}
.mat-toolbar{
  background-color: #184C78;
  border-radius: 20px;
  
}
